{% extends 'layouts/app2.html' %}

{% block content %}
<div class="card card-default">
    <div class="card-header">
        <center><h3><b>Hasil pengambilan data dari Google Earth Engine</b></h3></center>
    </div>
    <div class="card-body">
        <center><img src="/static/ndvi_image/{{ tahun }}.jpg" width="60%"></center>
    </div>
</div>
<div class="card card-default">
    <div class="card-header">
        <center><h3><b>Evaluasi</b></h3></center>
    </div>
    <div class="card-body">
        <center><img src="/static/cm_{{ tahun }}.jpg" width="60%"></center>
        <br>
        <br>
        <h6><b>Accuracy   = </b>{{ accuracy_ }} %</h6>
        <h6><b>Precission = </b>{{ precision_ }} %</h6>
        <h6><b>Recall     = </b>{{ recall_ }} %</h6>
        <h6><b>F1-Score    = </b>{{ f1_score_ }} %</h6>
    </div>
</div>
<div class="card card-default">
    <div class="card-header">
        <center><h3><b>Plot Hasil Klasifikasi Lahan</b></h3></center>
    </div>
    <div class="card-body">
        <center><img src="/static/ndvi_image/hasil_{{ tahun }}.jpg" width="60%"></center>
    </div>
</div>
<div class="card card-default">
    <div class="card-header">
        <center><h3><b>Luas Lahan</b></h3></center>
    </div>
    <div class="card-body">
        <p><b>Luas Lahan Air : </b>{{ df_luas[0]['luas_air'] }} km2</p>
        <p><b>Luas Lahan Terbangun : </b>{{ df_luas[0]['luas_lahan_terbangun'] }} km2</p>
        <p><b>Luas Lahan Vegetasi : </b>{{ df_luas[0]['luas_vegetasi'] }} km2</p>
    </div>
</div>
{% endblock %}