{% extends 'layouts/app2.html' %}

{% block content %}
<div class="card card-default">
    <div class="card-header">
        <center><h3><b>Luas Lahan</b></h3></center>
    </div>
    <div class="card-body">
        <table class="table table-bordered table-striped data-table">
            <thead>
                <tr>
                    <th style="width: 10px;">No</th>
                    <th>Tahun</th>
                    <th>Luas Lahan Air (km2)</th>
                    <th>Luas Lahan Terbangun (km2)</th>
                    <th>Luas Lahan Vegetasi (km2)</th>
                </tr>
            </thead>
            <tbody>
                {% for idx, item in df_hasil.iterrows() %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td>{{ item['tahun'] }}</td>
                        <td>{{ item['luas_air'] }}</td>
                        <td>{{ item['luas_lahan_terbangun'] }}</td>
                        <td>{{ item['luas_vegetasi'] }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}